h1 {
	font-weight: 700;
	margin-bottom: 3rem;
}

.presentation {
	background-color: #f0f0f0;
	color: #333;
	padding: 20px;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
}

.coll-img {
	width: 100%;
	padding: 5%;
	/* align-self: center;
	justify-self: center; */
}

.galleryImg {
	align-self: center;
	justify-self: center;
}

.nav-icon,
.nav-text {
	color: #3d5b59;
}
