.presentation {
	background-color: #f0f0f0;
	color: #333;
	padding: 20px;
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
}

.spinner {
	display: block;
	color: #3d5b59;
	font-weight: 800;
	position: fixed;

	/* top: 75%;
	left: 50%;
	transform: translate(-75%, -50%);
	-webkit-transform: translate(-75%, -50%);
	-moz-transform: translate(-75%, -50%);
	-ms-transform: translate(-75%, -50%);
	-o-transform: translate(-75%, -50%); */
}
/* .container-grid {
	display: grid;
	grid-template-columns: 4fr;
	gap: 40px;
}

.grid {
	display: inline-grid;
	grid-template-columns: repeat(4, 4fr);
	grid-auto-rows: 180px;
	column-gap: 2vw;
	row-gap: 35vh;
	padding-top: 2%;
	/* margin-top: 10vh; 
} 
*/

/* .grid-item {
	float: left;
	width: 80px;
	height: 60px;
} */

.coll-img {
	width: 100%;
	padding: 5%;
	/* align-self: center;
	justify-self: center; */
}

.galleryImg {
	align-self: center;
	justify-self: center;
}

.nav-icon,
.nav-text {
	color: #3d5b59;
}
