.container-grid {
	display: grid;
	grid-template-columns: 4fr;
	gap: 40px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	grid-auto-rows: 180px;
	column-gap: 2vw;
	row-gap: 35vh;
	padding-top: 12%;
	/* margin-top: 10vh; */
}

.coll-img {
	width: 100%;
	padding: 5%;
	align-self: center;
	justify-self: center;
}
