.footer {
    background-color: #CCD5AE;
    color: #FEFAE0;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin-top: 50px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    margin-right: 20px;
  }
  