 
.navbar {
            background-color: white;
            color: #3D5B59;
            font-size: large;
            display: flex;
            justify-content: left;
            align-content: flex-start;
            margin-left: 80px;
        
        }

ul li {
        list-style: none;
        padding: 10px 20px;
  
    }
  
ul li a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        color: #3D5B59;
        position: relative;
  
    }
  
ul li a::before {
        content: "";
        width: 0px;
        height: 10px;
        background: #CCD5AE;
        position: absolute;
        top: 100%;
        left: 0;
        transition: .5s;
    }
  
ul li a:hover::before {
        width: 50%;
        transform: translateX(100%);
    }
  
          .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
          }
          
          .nav-icon {
            font-size: 5rem;
            margin-bottom: 1rem;
          }
          
          .nav-text {
            font-size: 1.2rem;
            font-weight: bold;
          }
          .logo {
            margin-right: 10px;
            /* add the following styles to move the logo to the right */
            display: flex;
            justify-content: flex-end;
            flex: 1;
          }
